@model Medicacao;

@{
    ViewData["Title"] = "Excluir Medicação";
}

<div>
    <form asp-action="DeleteTA" asp-controller="TravelAuthorizations" method="post">

    <input type="hidden" asp-for="Id">

    <div class="text-justify">
       
    </div>

    <div class="modal-footer">

            

    </div>

</form>
</div>