
html {
  font-size: 14px;

}

body {
  
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.footer {
  position: relative;
  bottom: 0%;
  width: 100%;
  white-space: nowrap;
  line-height: 3em;
  background-color: #00aeef;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}